.wrapper {
    margin: 5px;
}
.square {
    width: 80px;
    height: 80px;
    background: green;
  }
  .lefteye {
    width: 20px;
    height: 20px;
    border: solid 0px black;
    z-index: 1;
    position: relative;
    left: 10px;
    top: 20px;
    background-color: black;
}
.righteye {
    width: 20px;
    height: 20px;
    border: solid 0px black;
    z-index: 1;
    position: relative;
    left: 40px;
    top: 0px;
    background-color: black;
}
.mouth1 {
    width: 20px;
    height: 30px;
    border: solid 0px black;
    z-index: 1;
    position: relative;
    left: 30px;
    top: 20px;
    background-color: black;
}
.mouth2 {
    width: 10px;
    height: 30px;
    border: solid 0px black;
    z-index: 1;
    position: relative;
    left: 20px;
    top: 10px;
    background-color: black;
}
.mouth3 {
    width: 10px;
    height: 30px;
    border: solid 0px black;
    z-index: 1;
    position: relative;
    left: -10px;
    top: -20px;
    background-color: black;
}
#block1-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(163, 205, 157);
    z-index: 1;
    position: relative;
    left: 0px;
    top: -50px;
    background-color: rgb(163, 205, 157);
}
#block1-2 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(70, 197, 54);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(70, 197, 54);
}
#block1-3 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(131, 204, 131);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(131, 204, 131);
}
#block1-4 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(138, 194, 149);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(138, 194, 149);
}
#block1-5 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(96, 225, 96);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(96, 225, 96);
}
#block1-6 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(111, 220, 93);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(111, 220, 93);
}
#block1-7 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(163, 205, 157);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(163, 205, 157);
}
#block1-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(46, 149, 70);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(46, 149, 70);
}
#block2-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(46, 149, 70);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color:rgb(46, 149, 70);
}
#block2-2 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(97, 137, 103);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(97, 137, 103);
}
#block2-3 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(6, 147, 7);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(6, 147, 7);
}
#block2-4 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(70, 197, 54);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(70, 197, 54);
    
}
#block2-5 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(69, 127, 69);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(69, 127, 69);
}
#block2-6 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(111, 220, 93);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(111, 220, 93);
}
#block2-7 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(14, 114, 16);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(14, 114, 16);
}
#block2-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(210, 210, 210);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(210, 210, 210);
}
#block3-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(70, 197, 54);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color:rgb(70, 197, 54);
}
#block3-4 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(163, 205, 175);
    z-index: 1;
    position: relative;
    left: 30px;
    top: 0px;
    background-color:rgb(163, 205, 175);
}
#block3-5 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(27, 215, 69);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(27, 215, 69);
}
#block3-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(220, 220, 220);
    z-index: 1;
    position: relative;
    left: 30px;
    top: 0px;
    background-color: rgb(220, 220, 220);
}
#block4-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(9, 186, 8);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: rgb(9, 186, 8);
}
#block4-4 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(27, 163, 55);
    z-index: 1;
    position: relative;
    left: 30px;
    top: 0px;
    background-color:rgb(27, 163, 55);
}
#block4-5 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(14, 114, 16);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(14, 114, 16);
}
#block4-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(77, 229, 82);
    z-index: 1;
    position: relative;
    left: 30px;
    top: 0px;
    background-color:rgb(77, 229, 82);
}
#block5-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(77, 229, 82);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: rgb(77, 229, 82);
}
#block5-2 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(70, 197, 54);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(70, 197, 54);
}
#block5-3 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(96, 225, 96);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(96, 225, 96);
}
#block5-6 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(198, 211, 194);
    z-index: 1;
    position: relative;
    left: 30px;
    top: 0px;
    background-color:rgb(198, 211, 194);
}
#block5-7 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(96, 225, 96);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(96, 225, 96);
}
#block5-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(70, 197, 54);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(70, 197, 54);
}
#block6-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(138, 194, 149);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: rgb(138, 194, 149);
}
#block6-2 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(46, 149, 70);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(46, 149, 70);
}
#block6-7 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(97, 137, 130);
    z-index: 1;
    position: relative;
    left: 50px;
    top: 0px;
    background-color:rgb(97, 137, 130);
}
#block6-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(178, 205, 174);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(178, 205, 174);
}
#block7-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(194, 226, 187);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: rgb(194, 226, 187);
}
#block7-2 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(88, 159, 93);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(88, 159, 93);

}
#block7-7 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(157, 239, 157);
    z-index: 1;
    position: relative;
    left: 50px;
    top: 0px;
    background-color:rgb(157, 239, 157);

}
#block7-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(46, 149, 70);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(46, 149, 70);

}
#block8-1 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(27, 163, 55);
    z-index: 1;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: rgb(27, 163, 55);
}
#block8-2 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(163, 205, 157);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color:rgb(163, 205, 157);
}
#block8-4 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(126, 224, 137);
    z-index: 1;
    position: relative;
    left: 20px;
    top: 0px;
    background-color:rgb(126, 224, 137);
    
}
#block8-5 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(194, 226, 187);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(194, 226, 187);
    
}
#block8-7 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(70, 194, 54);
    z-index: 1;
    position: relative;
    left: 20px;
    top: 0px;
    background-color:rgb(70, 194, 54);
    
}
#block8-8 {
    width: 10px;
    height: 10px;
    border: solid 0px rgb(101, 205, 84);
    z-index: 1;
    position: relative;
    left: 10px;
    top: 0px;
    background-color: rgb(101, 205, 84);
    
}
#charge1-1 {
    width: 10px;
    height: 10px;
    border: solid 0px blue;
    z-index: 2;
    position: relative;
    left: 00px;
    top: -30px;
    background-color: blue;
    opacity: 0.5;
    filter: alpha(opacity=50);
    
}