.wrapper

#logo_slogon{
    position: relative;
    margin: 40px auto 5px;
    margin: 4rem auto .5rem;
    width: 270px;
    font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 33px;
    line-height: 3.3rem;
    text-align: center;
    -moz-font-feature-settings: "ss05=1";
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    -ms-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}
.globel{
    position: relative;
    height: 325px;
    height: 32.5rem;
    width: 546px;
    width: 54.6rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.english {
    position: absolute;
    width: 156px;
    width: 15.6rem;
}