body {
    background-color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 3.9px 0;
    margin: .39rem 0;
}
.central-textlogo {
    position: relative;
    margin: 40px auto 5px;
    margin: 4rem auto .5rem;
    width: 270px;
    font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 33px;
    line-height: 3.3rem;
    text-align: center;
    -moz-font-feature-settings: "ss05=1";
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    -ms-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}
h1 {
    font-size: 32px;
    font-size: 3.2rem;
    margin: 10.7px 0;
    margin: 1.07rem 0;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.central-featured-logo {
    position: absolute;
    top: 136px;
    left: 35px;
}
img {
    border: 0;
    vertical-align: middle;
}
img {
    border: 0;
}
/* img[Attributes Style] {
    width: 200px;
    height: 183px;
} */
Style Attribute {
    font-size: 1em;
}
.central-textlogo {
    position: relative;
    margin: 40px auto 5px;
    margin: 4rem auto .5rem;
    width: 270px;
    font-family: 'Linux Libertine','Hoefler Text',Georgia,'Times New Roman',Times,serif;
    font-size: 30px;
    font-size: 3rem;
    font-weight: 400;
    line-height: 33px;
    line-height: 3.3rem;
    text-align: center;
    -moz-font-feature-settings: "ss05=1";
    -moz-font-feature-settings: "ss05";
    -webkit-font-feature-settings: "ss05";
    -ms-font-feature-settings: "ss05";
    font-feature-settings: "ss05";
}
h1 {
    font-size: 32px;
    font-size: 3.2rem;
    margin: 10.7px 0;
    margin: 1.07rem 0;
}
user agent stylesheet
h1 {
    font-size: 2em;
    font-weight: bold;
}
.central-textlogo-wrapper {
    display: inline-block;
    vertical-align: bottom;
}
.central-textlogo__image {
    color: transparent;
    display: inline-block;
    overflow: hidden;
    text-indent: -10000px;
}
.svg-Wikipedia_wordmark {
    background-position: 0 -254px;
    width: 176px;
    height: 32px;
}
.sprite {
    background-image: url(portal/wikipedia.org/assets/img/sprite-3f2e1b8f.png);
    background-image: linear-gradient(transparent,transparent),url(portal/wikipedia.org/assets/img/sprite-3f2e1b8f.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
